
    .container select {
        width: 30%;
        margin: 0;
        font-size: 100%;
        padding: 5px 10px 5px 10px;
        font-family: Segoe UI, Helvetica, sans-serif;
        border: 0;
        border: 1px solid #D0D0D0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }
